{% extends 'base.html'  %} 
{% load static %} 
{% block content %}

<h1>Transaction History</h1>
    
        
        {% for object in history %}
        <hr>
            {% if object.transacation_type == "cashin" %}
             
            
            <div class="mb-3">
                <h2>{{ object.Transcription }}</h2>  
                <h3 class="text-success">(+ {{object.Transaction}})</h3>
            </div>

            
            {% else %}


            <div class="mb-3">
                <h2>{{ object.Transcription }}</h2>  
                <h3 class="text-danger">(- {{object.Transaction}})</h3>
            </div>

            
            {% endif %}
        
        {% endfor %}
        
    

{% endblock %}