{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="" href="{% static  'css/main.css' %}">
    
</head>
<body >
    
    


    <title>AMBANK</title>

    <div ><h1 class="header" >WELCOME TO AMBANK </h1>
    </div>

    <div>


    </div>

    <!--

<h2>ID</h2>
    <input type="text" id="id_text" class="textbox" name="text_input">

    <h2>PASSWORD</h2>
    <input type="text" id="id_password" class="textbox" name="password_input">

    -->
    

    <div >
        
        <form action="">
            <button class="button" >LOGIN</button >
            <button  class="button" formaction="{% url 'signup' %}" >SIGN UP </button>
            
        </form>
        
    
    
    
    </div>
    
    
</body>
</html>