{% extends 'base.html'  %} 
{% load static %} 
{% block content %}



    {% include 'navbar.html' %}

<div class=""><h3>Welcome {{username}}</h3>
    <h4>Your balance : {{Balance}}</h4>
</div>



<form action="">

    <div>
        <button class="btn btn-lg btn-success" type="submit" formaction="cashin">Cash In</button>
        <button class="btn btn-lg btn-success ms-2 " type="submit" formaction="cashout">Cash Out</button>
        <button class="btn btn-lg btn-success ms-2 " type="submit" formaction="history">History</button>
    </div>


</form>




{% endblock %}